* {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-style: normal;
    font-size: 12px;
    color: $colorText;

    text-decoration: none;
    text-transform: uppercase;
}

body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	display: flex;
	// align-items: center;
	justify-content: center;

	animation: bgBodyChang $animationTime ease-out forwards;
	-webkit-animation: bgBodyChang $animationTime ease-out forwards;
}
